/////////////////
// - COLORS
/////////////////

$black: #000;
$white: #fff;
$gray: #3c3c3c;

/////////////////
// - MIXINS
////////////////


// media breakpoint queries

$break-small: 320px;

$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// transitions

@mixin transition($args) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

/////////////////
// - DEFAULTS
////////////////

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: $gray;

  @include respond-to(medium-screens) { font-size: 16px; }

  @include respond-to(handhelds) { font-size: 14px; }
}
