/////////////////
// - COLORS
/////////////////

$background: #4d4c59;
$main-font-color: #f7f6f0;
$trim-color: #362c36;
$focus-color: #98c2cd;
$foreground: #71777d; // for boxes containing text possibly? currently unused

/////////////////
// - CONSTANTS
////////////////

// font boundaries for fluid font sizes
$min_font: 14px;
$max_font: 20px;

// modular scaled font size multiplier
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

// resolution boundaries
$min_width: 320px;
$max_width: 1200px;

/////////////////////////
// - MIXINS / FUNCTIONS
/////////////////////////

// fluid typography
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// transitions
@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

// transforms
@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}

// transform origin
@mixin transform-origin($args) {
  -webkit-transform-origin: $args;
     -moz-transform-origin: $args;
      -ms-transform-origin: $args;
       -o-transform-origin: $args;
          transform-origin: $args;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}));
}

// translate
@mixin translateX($x) {
  @include transform(translate($x));
}

/////////////////
// - DEFAULTS
////////////////

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  overflow-x: hidden;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

body {
  height: 100%;
  font-family:
  'Open Sans', sans-serif;
  font-size: 1em;
  color: $main-font-color;
}

main {
  height: 100%;
  padding: 2em 2em;
  text-align: center;
  background: $background;
}

// scale each header up in size, based on the vw
h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}

h3 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
}
