/////////////////
// - COLORS
/////////////////

$black: #000;
$white: #fff;
$gray: #3c3c3c;
$orange: #ff5d00;
$lightgray: #b8bbc1;

/////////////////
// - MIXINS
////////////////


// media breakpoint queries

$break-small: 320px;

$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

// transitions

@mixin transition($args) {
  -webkit-transition: $args;
     -moz-transition: $args;
      -ms-transition: $args;
       -o-transition: $args;
          transition: $args;
}

// transforms
@mixin transform($args) {
  -webkit-transform: $args;
     -moz-transform: $args;
      -ms-transform: $args;
       -o-transform: $args;
          transform: $args;
}

// transform origin
@mixin transform-origin($args) {
  -webkit-transform-origin: $args;
     -moz-transform-origin: $args;
      -ms-transform-origin: $args;
       -o-transform-origin: $args;
          transform-origin: $args;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}));
}

// translate
@mixin translateX($x) {
  @include transform(translate($x));
}

/////////////////
// - DEFAULTS
////////////////

html {
  min-height: 100%;
  overflow-x: hidden;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background-color: $lightgray;

  @include respond-to(medium-screens) { font-size: .8em; }

  @include respond-to(handhelds) { font-size: .7em; }
}
