@import "./_globals.scss";

/*
BEGIN HEADER
*/

header {
  height: 40px;
  width: 100%;
  position: fixed;
  background-color: $black;
  z-index: 100;
  @include transition(opacity 1s ease)

  &:hover {
    opacity: 1 !important;
  }

  .hamburger-state, .hamburger-button {
    height: 40px;
    width: 50px;
    position: absolute;
    @include translateX(0);
  }

  .hamburger-state {
    z-index: 101;
    opacity: 0;
    cursor: pointer;
    @include transition(transform .25s ease);

    &:checked+.hamburger-button>span {
      width: 0;
    }

    &:checked+.hamburger-button>span:before {
      top: 0px;
      @include transform(translateX(-9px) translateY(12px) rotate(-45deg) scale(1.1, 1))
    }

    &:checked+.hamburger-button>span:after {
      top: 0px;
      @include transform(translateX(-9px) translateY(-11px) rotate(45deg) scale(1.1, 1))
    }
  }

  .hamburger-button {
    z-index: 100;
    margin: 0 !important;
    @include transition(.25s ease background-color);
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      border-radius: 9px;
      margin: auto;
      top: 50%;
      @include transition(width .25s ease);
      font-size: 0;
      background-color: $white;

      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 30px;
        height: 4px;
        border-radius: 9px;
        @include transition(.25s ease);
        @include rotate(0);
        @include transform-origin(left center);
        background-color: $white;
      }

      &:before {
        top: -9px;
      }

      &:after {
        top: 9px;
      }
    }
  }

  .hamburger-state:hover+.hamburger-button,.hamburger-state:focus+.hamburger-button {
    background-color: rgba(0,0,0,0.2)
  }

  .logo {
    position: relative;
    left: 3%;
    top: 25%;
    color: white;
  }
}

/*
BEGIN CONTENT
*/

.content-box {
  display: flex;
  overflow: hidden;
  width: 95%;
  background-color: $white;

  p {
    padding-top: 40px;
    margin: 5px;
  }
}
