@import "./_globals.scss";

/*
BEGIN HEADER
*/

header {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0%;
  background-color: $charcoal;
  z-index: 99;
  border-bottom: solid 5px $orange;
  @include transition(opacity 1s ease)

  &:hover {
    opacity: 1 !important;
  }

  .hamburger-state, .hamburger-button {
    height: 40px;
    width: 50px;
    position: absolute;
    @include translateX(0);
  }

  .hamburger-state {
    z-index: 101;
    opacity: 0;
    cursor: pointer;
    @include transition(transform .25s ease);

    &:checked+.hamburger-button>span {
      width: 0;
    }

    &:checked+.hamburger-button>span:before {
      top: 0px;
      @include transform(translateX(-12px) translateY(12px) rotate(-45deg) scale(1.1, 1))
    }

    &:checked+.hamburger-button>span:after {
      top: 0px;
      @include transform(translateX(-12px) translateY(-11px) rotate(45deg) scale(1.1, 1))
    }

    &:hover+.hamburger-button,.hamburger-state:focus+.hamburger-button {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }
  }

  .hamburger-button {
    z-index: 100;
    margin: 0 !important;
    @include transition(.25s ease background-color);
    span {
      position: relative;
      display: block;
      width: 30px;
      height: 4px;
      border-radius: 9px;
      margin: auto;
      top: 45%;
      @include transition(width .25s ease);
      font-size: 0;
      background-color: $white;

      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 30px;
        height: 4px;
        border-radius: 9px;
        @include transition(.25s ease);
        @include rotate(0);
        @include transform-origin(left center);
        background-color: $white;
      }

      &:before {
        top: -9px;
      }

      &:after {
        top: 9px;
      }
    }
  }

  .logo {
    position: relative;
    left: 45px;
    top: 25%;
    color: white;
  }
}

  nav {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: 45px;
    background-color: $gray;
    height: 70px;
    overflow: hidden;
    @include transition(visibility 0s linear 0.5s, opacity 0.5s linear)

    &:hover span {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }

    &:hover {
      .home-icon path {
      stroke: $lightgreen;
      }

      .blog-icon path {
        stroke: $orange;
      }

      .portfolio-icon path {
        stroke: $lightblue;
      }
    }

    ul {
      list-style: none;
      list-style-image: none;
      padding: 0;
      margin: 0 auto;

      li {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 75px;

        a {
          font-family: 'Segoe UI', sans-serif;
          font-size: 14px;
          color: $white;
          outline: none;
          text-decoration: none;
          display: block;
          text-align: center;

            &.active {
            background-color: $cream;

            svg > path {
              stroke: $charcoal !important;
            }

            span {
              color: $charcoal;
              visibility: visible;
              opacity: 1;
            }
          }

          svg {
            height: 45px;
            width: 45px;
            pointer-events: none;
            display: block;
            margin: 0 auto;
            padding-top: 0.3rem;
            padding-bottom: 0.1rem;
          }

          span {
            visibility: hidden;
            opacity: 0;
            @include transition(visibility 0s linear 0.3s, opacity 0.3s linear);
          }
        }
      }

    }

    input[type="checkbox"]:checked ~ & {
      visibility: visible;
      opacity: 1;
      transition-delay: 0s;
    }
  }

/*
BEGIN CONTENT
*/

.content-box {
  overflow: hidden;
  width: 95%;
  background-color: $white;
  padding: 8px;
  padding-top: 45px;
}
